body {
  color: $text-primary-color;
  font-family: $font-primary;
  letter-spacing: 0.03em;
  background-color: $footer-text-color;
}

body.modal-open {
  overflow: hidden;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

section {
  width: 100%;
  padding: 0 15px;
  margin-bottom: 30px;
}

header {
  padding: 0 15px;
  padding-bottom: 30px;
  
  background-color: #e0e0e0;
}

footer {
  padding: 15px;
  padding-bottom: 0;

  background-color: $footer-primary-color;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

