.creater {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: justify;
  color: rgba(255, 255, 255, 0.6);
}

.advertising {
  margin-bottom: 30px;
  text-align: justify;
  color: #fff;

  &__link {
    font-weight: $font-weight-bold;
    text-decoration: underline;
    color: #519af6;
  }
}
  

  